.dropdown {

    display: flex;
    background-color: #a62121;

    width: 100%;
    position: -webkit-sticky;
    position: fixed;
    top: 0;


}

.dropbtn {

    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;

    background: #a62121;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root {
    --dark-color-lighten: #f2f5ff;
    --red-card: #a62121;
    --blue-card: #4bb7e6;
    --btn: #141414;
    --btn-hover: #3a3a3a;
    --text: #fbf7f7;
}

/*===== RESET =====*/
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    background-color: var(--dark-color-lighten);
    font-family: "Montserrat", sans-serif;
    background: black;
    color: #f1f1f1;

}

button {
    font-family: "Montserrat", sans-serif;
    display: inline-block;
    border: none;
    outline: none;
    border-radius: 0.2rem;
    color: var(--text);
    cursor: pointer;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: 100%;
    user-select: none;
}

/*===== CARD =====*/
.container {

    /* display: flex;
   
      height: 40%;
      align-items: center;
      width: 100%; */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    /* min-height: 100vh; */





}

.contair {
    display: flex;
    /*   border:1px solid red; */
    height: 30%;
    align-items: center;
    width: 100%;
    font-size: x-large;
    margin-bottom: 60px;
  
   
   
    
}


.card {
    position: relative;
    /* padding: 1rem; */


    /* width: 350px; */
    height: 450px;
    box-shadow: -1px 15px 30px -12px rgb(32, 32, 32);
    border-radius: 0.9rem;
    background-color: var(--red-card);
    color: var(--text);
    cursor: pointer;
    width: 300px;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;




}

.card-blue {
    background: var(--blue-card);
    margin-left: 20px;
    margin-right: 20px;

}

.product-image {
    height: 230px;
    width: 100%;
    transform: translate(0, -1.5rem);
    transition: transform 500ms ease-in-out;
    filter: drop-shadow(5px 10px 15px rgba(8, 9, 13, 0.4));
    justify-content: center;
    display: flex;
    padding-top: 20px;
}

.product-info {
    text-align: center;
}

.card:hover .product-image {
    transform: translate(-1.5rem, -7rem) rotate(-20deg);
}



.product-info h2 {
    font-size: 1.4rem;
    font-weight: 600;
}

.product-info p {
    margin: 0.4rem;
    font-size: 0.8rem;
    font-weight: 600;
}

.price {
    font-size: 1.2rem;
    font-weight: 500;
}

.btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0.8rem;
}

.buy-btn {
    background-color: var(--btn);
    padding: 0.6rem 3.5rem;
    font-weight: 600;
    font-size: 1rem;
    transition: 300ms ease;
}

.buy-btn:hover {
    background-color: var(--btn-hover);
}

.fav {
    box-sizing: border-box;
    background: #fff;
    padding: 0.5rem 0.5rem;
    border: 1px solid#000;
    display: grid;
    place-items: center;
}

.svg {
    height: 25px;
    width: 25px;
    fill: #fff;
    transition: all 500ms ease;
}

.fav:hover .svg {
    fill: #000;
}

@media screen and (max-width: 800px) {
    body {
        height: auto;
    }

    .container {
        padding: 2rem 0;

        width: 100%;
        flex-direction: column;
        gap: 3rem;
    }
}

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}

.progress {
    height: 10px;
}

.hide {
    display: none;
}

.error {
    color: red;
    font-size: 0.8em;
    font-family: sans-serif;
    font-style: italic;
}

input {
    border-color: #ddd;
    width: 400px;
    display: block;
    font-size: 1.5em;
}



svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 960px;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1) {
    stroke: #a62121;
    animation-delay: -1;
}

.text-copy:nth-child(2) {
    stroke: #a62121;
    animation-delay: -2s;
}

.text-copy:nth-child(3) {
    stroke: #4bb7e6;
    animation-delay: -3s;
}

.text-copy:nth-child(4) {
    stroke: #4bb7e6;
    animation-delay: -4s;
}

.text-copy:nth-child(5) {
    stroke: #4bb7e6;
    animation-delay: -5s;
}

@keyframes stroke-offset {
    100% {
        stroke-dashoffset: -35%;
    }
}